body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-default{
    background-color: #4099FF !important;
    color: white !important;
}

.navbar-default{
  background-color: #4099FF !important;
}
